In [85]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')

import xgboost as xgb

In [86]:
df = pd.read_csv('C:/Users/user/Desktop/LG_Battery/raw_sales.csv')

In [87]:
df.head()

              datesold  postcode   price propertyType  bedrooms
0  2007-02-07 00:00:00      2607  525000        house         4
1  2007-02-27 00:00:00      2906  290000        house         3
2  2007-03-07 00:00:00      2905  328000        house         3
3  2007-03-09 00:00:00      2905  380000        house         4
4  2007-03-21 00:00:00      2906  310000        house         3

In [88]:
df['datesold'] = pd.to_datetime(df['datesold'])
df['hour'] = df['datesold'].dt.hour
df['dayofweek'] = df['datesold'].dt.dayofweek
df['quarter'] = df['datesold'].dt.quarter
df['month'] = df['datesold'].dt.month
df['year'] = df['datesold'].dt.year
df['dayofyear'] = df['datesold'].dt.dayofyear
df['sin_day'] = np.sin(df['dayofyear'])
df['cos_day'] = np.cos(df['dayofyear'])
df['dayofmonth'] = df['datesold'].dt.day
df['weekofyear'] = df['datesold'].dt.weekofyear

df = df.drop(['datesold', 'postcode', 'propertyType', 'bedrooms'], axis=1)

C:\Users\user\AppData\Local\Temp/ipykernel_81532/1229145566.py:11: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['datesold'].dt.weekofyear

In [89]:
df.head()

,price,hour,dayofweek,quarter,month,year,dayofyear,sin_day,cos_day,dayofmonth,weekofyear
0,525000,0,2,1,2,2007,38,0.296369,0.955074,7,6
1,290000,0,1,1,2,2007,58,0.992873,0.119180,27,9
2,328000,0,2,1,3,2007,66,-0.026551,-0.999647,7,10
3,380000,0,4,1,3,2007,68,-0.897928,0.440143,9,10
4,310000,0,2,1,3,2007,80,-0.993889,-0.110387,21,12

In [90]:
df_train = df[df['year']<2017]
X_train = df_train.drop(['price'], axis=1)
y_train = df_train['price']

In [91]:
df_test = df[df['year']>=2017]
X_test = df_test.drop(['price'], axis=1)
y_test = df_test['price']

In [92]:
X_train.shape, X_test.shape

((19796, 10), (9784, 10))

In [93]:
reg = xgb.XGBRegressor(objective='reg:squarederror', n_estimators=1000)
reg.fit(X_train, y_train, verbose=False)
yhat = reg.predict(X_test)